<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>SmartGrow.</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="#" class="navbar-logo">Smart <span>Grow.</span> </a>
      </div>
      <div class="navbar-nav">
        <a href="#">Beranda</a>
        <a href="#info">Informasi</a>
      </div>
    </nav>

    <section class="hero">
      <div class="main">
        <div class="card1 reveal">
          <h3>Light Intensity</h3>
          <img src="../static/img/sun.gif" alt="" class="sun" />
          <div id="gauge-chart" class="light"></div>
        </div>
        <div class="card2 reveal">
          <h3>Humidity</h3>
          <img src="../static/img/water.gif" alt="" class="water" />
          <div class="humidity-bar">
            <div class="filled-bar" id="humidity-bar"></div>
          </div>
          <p id="humidity-value"></p>
        </div>
        <div id="prediction-display" class="status reveal">
          <h3>Hasil Prediksi:</h3>
          <p>Menunggu data prediksi...</p>
        </div>
        <div class="recomendation reveal" id="recommendation-id">
          <h3>Recommendation:</h3>
          <p id="recommendation-text">Menunggu prediksi...</p>
        </div>
      </div>
      <div class="chart reveal">
        <div class="chart-container">
          <canvas id="lightHumidityChart"></canvas>
        </div>
      </div>
    </section>

    <section class="informasi" id="info">
      <div class="content-container reveal">
        <div class="card reveal">
          <img
            src="../static/img/pohon-removebg-preview.png"
            alt=""
            class="pohon reveal"
          />
          <div class="text reveal">
            <h2>Perawatan</h2>
            <p>
              1. Penyiraman: 1-2 kali seminggu<br />2.
              Pemangkasan: Rutin untuk menjaga bentuk<br />3. Pengendalian hama:
              Periksa secara teratur<br />4. Pemupukan: Gunakan pupuk yang
              seimbang
            </p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="../static/js/gauge.js"></script>
    <script src="../static/js/bar.js"></script>
    <script src="../static/js/grafik.js"></script>
    <script src="../static/js/predict.js"></script>
    <script src="../static/js/recomend.js"></script>
    <script src="../static/js/reveal.js"></script>
  </body>
</html>
